# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.db.bak

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS specific
.DS_Store
logs/
*.log

# Ensure config directory is tracked
!config/
!config/*.json